<div class="comment-section">
    <div class="comment-form">
        <h5>Leave a Comment</h5>
        <form method="POST" >
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    <h4>Comments</h4>
    <div id="comments-list">
        <!-- Comments will be dynamically loaded here -->
         {% for comment in comments %}
        <div class="comment">
            <div class="comment-author">{{ comment.author.get_full_name }}</div>
            {% comment %} <p>Posted on {{ comment.created_at|date:"F d, Y" }}</p> {% endcomment %}
            <div class="comment-text">{{ comment.body }}</div>
        </div>
        {% endfor %}
    </div>
</div>
