body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.post-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}
.post-content {
    font-size: 1.2rem;
    margin: 20px 0;
}