body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.post-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}
.post-content {
    font-size: 1.2rem;
    margin: 20px 0;
}

.post .post-content img {
    max-width: 100%;
    height: auto;
}


/* Responsive iframes */
.post .post-content iframe {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;  
}

/* Additional styling to handle older browsers if needed */
.post .post-content iframe {
    width: 100%;
    height: 100%;
}