{% extends "base.html" %}
{% load static %}
{% block extra_head%}
<link rel="stylesheet" href="{% static "blog/css/postDetails_style.css" %}">
<link rel="stylesheet" href="{% static "comments/css/comment_style.css" %}">
{% endblock  %}
{% block content %}
<div class="container">
    <div class="post">
        <div class="post-title">Post Title</div>
        <div class="post-content">
            <p>This is the full content of the blog post. It includes detailed information about the topic discussed in the post.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
    </div>
    {% include "comments/comment.html" %}
</div>
    
{% endblock content %}
{% block extra_script %}
<script src="{% static "comments/js/comment_script.js" %}"> </script>
{% endblock extra_script %}