{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "blog/css/search_style.css" %}">
{% endblock extra_head %}
{% block content %}
<div class="container">
    <!-- Inside the search-bar div -->
    {% include "blog/searchbar.html" %}

    <h1 class="my-4">Search Results</h1>
    {% if search_post_list %}
    {% for post in search_post_list %}
    <div id="search-results-container"></div>
     <div class="post">
     <div class="post-title">{{post.title}}</div>
     <div class="post-excerpt">{{post.body|truncatewords:50}}</div>
     <a href="{% url "blog:post_details"  post.id %}" class="btn btn-primary">Read More</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center fs-2">
        No Results Found
      </div>
    {% endif %}
    
</div>

{% endblock content %}
