{% extends "base.html" %}
{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">Edit Post</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Edit Article</div>
                <div class="card-body">
                    <form method="post"> 
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" value="{{post.title}}" id="title" placeholder="Enter the title" name='title'>
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Body</label>
                            <textarea class="form-control"  id="body" rows="10" placeholder="Write your content here" name="body">{{post.body}}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="tags" class="form-label">Tags</label>
                            <input type="text" class="form-control" value="{{post.tags.all|join:','}}" id="tags" placeholder="Enter tags separated by commas" name="tags">
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-control"  id="category" name="category">
                                {% for category in categories %}
                                <option value="{{category.id}}" {% if category == post.categories.first %}selected{% endif %}>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="is_published" name="is_published">
                            <label class="form-check-label" for="is_published">Publish</label>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}